{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/basegallery.css' %}">

{% endblock %}

{% block content %}
{{block.super}}

<div id="introduction" class='text-center'>

    <h1>Welcome To K-Gallery</h1>
    <hr>
    <p>Where you get to see some of my best online pfoto collection</p>
    <hr>

</div>

<div class="container col-md-6">

    <!-- Images Section -->

    <div class="images">

        {% for image in images%}
        <div class="images">
            <a href="#{{image.id}}" data-toggle="modal" data-target="#{{image.id}}">
                <h5 class="text-center" style="font-size:25px; font-weight:600">{{image.image_name}}</h5>
                <img src="{{image.image.url}}" alt="{{image.image_name}}"
                    style="width:100%;width:100%">
            </a>   
            <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="{{image.id}}">
    view Details
    </button>
  
  <!-- The Modal -->
  <div class="modal" id="{{image.id}}" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{image.image_name}}</h4>
          <img src="{{image.image.url}}" class="img-responsive" alt="Image"
          style="width:100%;max-width:100%">
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <p>{{image.image_details}}</p>
          <p>{{image.location}}</p>
          <p>{{image.category}}</p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" onclick="copyToClipboard();">Copy</button>
        </div>
  
      </div>
    </div>
  </div>
        </div>
        
        {%endfor%}

    </div>

</div>


<footer class="footer">
    <p class="text-center">© Rodger 2021. All Rights Reserved</p>
</footer>

{% endblock %}
