{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/basegallery.css' %}">

{% endblock %}

{% block content %}
{{block.super}}

<div id="introduction" class='text-center'>

    <h1>Welcome To K-Gallery</h1>
    <hr>
    <p>Where you get to see some of my best online pfoto collection</p>
    <hr>

</div>

<div class="container col-md-6">

    <!-- Images Section -->

    <div class="images">

        {% for image in images%}
        <div class="images">
            <a href="" data-toggle="modal" data-target="#myModal{{image.id}}" >
                <h5 class="text-center" style="font-size:25px; font-weight:600">{{image.image_name}}</h5>
                <img src="{{image.image.url}}" alt="{{image.image_name}}" style="width:100%;width:100%">
            </a>

            <!-- The Modal -->
            <div class="modal" id="myModal{{image.id}}">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">{{image.image_name}}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            

                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <img src="{{image.image.url}}" alt="{{image.image_name}}" style="width:100%;width:100%">
                            <p>Image Description: {{image.image_details}}</p>
                            <p>Image Location: {{image.location}}</p>
                            <p>Image Category: {{image.category}}</p>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
                            <input id="{{image.id}}-url" class="form-control input-md responsive" type="text"
                                value="{{image.image.url}}">
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                        <button type="button" onclick="copyToClipboard();">Copy</button>
                            <script>
                                function copyToClipboard() {
                                    var copyText = document.getElementById("{{image.id}}-url");
                                    copyText.select();
                                    copyText.setSelectionRange(0, 99999)
                                    document.execCommand("copy");
                                    alert('url copied');
                                }
                            </script>
                    </div>
                </div>
            </div>

        </div>

        {%endfor%}

    </div>

</div>


<footer class="footer">
    <p class="text-center">© Rodger 2021. All Rights Reserved</p>
</footer>

{% endblock %}

